# Created by .ignore support plugin (hsz.mobi)
/.idea

/generatorSqlmapCustom2mysql/*.iml
/generatorSqlmapCustom2oracle/*.iml
/pagehelper/*.iml
/pagehelper/src/main/*.iml
/taotao-common/src/main/*.iml
/taotao-manager/taotao-manager-mapper/src/main/*.iml
/taotao-manager/taotao-manager-pojo/src/main/*.iml
/taotao-manager/taotao-manager-service/src/main/*.iml
/taotao-manager/taotao-manager-web/src/main/*.iml
/taotao-manager/taotao-manager-web/src/test/*.iml
/taotao-order/src/main/*.iml
/taotao-portal/src/main/*.iml
/taotao-portal/src/test/*.iml
/taotao-rest/src/main/*.iml
/taotao-rest/src/test/*.iml
/taotao-search/src/main/*.iml
/taotao-search/src/test/*.iml
/taotao-sso/src/main/*.iml
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContent.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentCategory.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentCategoryExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentCategoryExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentCategoryExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentCategoryExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbContentExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItem.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemCat.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemCatExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemCatExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemCatExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemCatExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemDesc.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemDescExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemDescExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemDescExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemDescExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParam.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamItem.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamItemExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamItemExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamItemExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbItemParamItemExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrder.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderItem.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderItemExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderItemExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderItemExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderItemExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderShipping.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderShippingExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderShippingExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderShippingExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbOrderShippingExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbUser.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbUserExample.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbUserExample$Criteria.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbUserExample$Criterion.class
generatorSqlmapCustom2mysql/bin/com/taotao/pojo/TbUserExample$GeneratedCriteria.class
generatorSqlmapCustom2mysql/lib/log4j-1.2.16.jar
generatorSqlmapCustom2mysql/lib/mybatis-3.2.3.jar
generatorSqlmapCustom2mysql/lib/mybatis-generator-core-1.3.2.jar
generatorSqlmapCustom2mysql/lib/mysql-connector-java-5.1.28-bin.jar
generatorSqlmapCustom2mysql/lib/ojdbc14.jar
